<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.jasonnull.dts.server.dao.JobGroupDao">

    <sql id="Base_Column_List">
        t.job_group,
        t.app_name,
        t.title,
        t.order,
        t.address_type,
        t.address_list
    </sql>

    <select id="findAll" resultType="JobGroup">
        SELECT
        <include refid="Base_Column_List"/>
        FROM XXL_JOB_QRTZ_TRIGGER_GROUP AS t
        ORDER BY t.order ASC
    </select>

    <select id="findByAddressType" resultType="JobGroup">
        SELECT
        <include refid="Base_Column_List"/>
        FROM XXL_JOB_QRTZ_TRIGGER_GROUP AS t
        WHERE t.address_type = #{addressType}
        ORDER BY t.order ASC
    </select>

    <insert id="save" parameterType="io.github.jasonnull.dts.server.model.JobGroup" useGeneratedKeys="true"
            keyProperty="jobGroup">
        INSERT INTO XXL_JOB_QRTZ_TRIGGER_GROUP ( `app_name`, `title`, `order`, `address_type`, `address_list`)
        values ( #{appName}, #{title}, #{order}, #{addressType}, #{addressList});
    </insert>

    <update id="update" parameterType="io.github.jasonnull.dts.server.model.JobGroup">
        UPDATE XXL_JOB_QRTZ_TRIGGER_GROUP
        SET `app_name` = #{appName},
            `title` = #{title},
            `order` = #{order},
            `address_type` = #{addressType},
            `address_list` = #{addressList}
        WHERE job_group = #{jobGroup}
    </update>

    <delete id="remove" parameterType="java.lang.Long">
        DELETE FROM XXL_JOB_QRTZ_TRIGGER_GROUP
        WHERE job_group = #{jobGroup}
    </delete>

    <select id="load" parameterType="java.lang.Long" resultType="JobGroup">
        SELECT
        <include refid="Base_Column_List"/>
        FROM XXL_JOB_QRTZ_TRIGGER_GROUP AS t
        WHERE t.job_group = #{jobGroup}
    </select>

</mapper>